<p>I'm fat, well fatter than I'd like. <mark>I'm tracking lots of stuff to keep me motivated.</mark> <span class="light">Last updated at <%= @last_updated %>.</span></p>

<canvas></canvas>

<% if @weight %>
<script>window.fat={'weight':<%= @weight %>}</script>
<% end %>
