<p>I'm fat, well fatter than I'd like. I'm tracking lots of stuff to keep me motivated and see my progress.</p>

<ul class="list">
  <li>Current weight: <%= @weight %>lbs</li>
  <li>Water consumed today: <%= @water %>oz</li>
</ul>

<p class="light">Last updated <%= @updated_at %>. At some point this will have pretty graphs.</p>
