<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sam's Fat</title>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/619254/777982/css/fonts.css">
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1><a href="/" rel="home">Sam’s Fat</a></h1>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      <p>Copyright &copy; <%= Time.now.year %> <a href="http://soff.es/" rel="external nofollow">Sam Soffes</a>. <a href="https://github.com/soffes/fat" rel="external nofollow">View source on GitHub</a>.</p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/assets/fat.js"></script>
  </body>
</html>
