html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

body {
  color:#222;
  font-family:"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:17px;
  font-weight:300;
  line-height:1.5em;
  padding:0 10px;
}

ol,ul {
  list-style:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

caption,th,td {
  font-weight:normal;
  text-align:left;
  vertical-align:middle;
}

q,blockquote {
  quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after {
  content:none;
}

a img {
  border:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  display:block;
}

section,header,footer,nav,article,aside,figure {
  display:block;
  width:100%;
}

mark,time,meter,progress {
  display:inline;
}

html {
  -webkit-font-smoothing:antialiased;
}

input {
  line-height:1em;
}

a {
  border-bottom:1px solid transparent;
  color:#0881b3;
  text-decoration:none;
}

a:hover {
  border-bottom:1px solid;
}

strong {
  font-weight:bold;
}

em {
  background-color:#fffeca;
  padding:0 .1em;
}

i {
  font-style:italic;
}

abbr {
  border-bottom:1px dashed;
  cursor:help;
}

p, ul {
  margin:0 0 1em;
}

hr {
  border:0;
  border-bottom:1px solid #ddd;
  margin:0 auto 2em;
  width:60%;
}

blockquote {
  border-left:5px solid #ddd;
  color:#888;
  margin:0 0 1em;
  padding-left:1em;
}

small {
  color:#999;
  font-size:.8em;
  margin-left:.2em;
}

small a:hover {
  color:#2e80d3;
}

pre {
  background-color:#f8f8ff;
  border:1px solid #dedede;
  color:#444;
  font-family:Monaco, Courier, monospace;
  font-size:13px;
  margin:0 0 2em;
  overflow:auto;
  padding:.5em;
}

pre code {
  background-color:#f8f8ff;
  border:medium none;
  font-size:1em;
  padding:0;
}

code {
  background-color:#f8f8ff;
  border:1px solid #dedede;
  color:#444;
  font-family:Monaco, Courier, monospace;
  font-size:.8em;
  padding:0 .2em;
}

h1 {
  color:#000;
  font-size:2.5em;
  font-weight:700;
}

h1 a {
  border:0;
  color:#f6291d;
}

h2 {
  font-size:1.3em;
  font-weight:700;
  margin-bottom:.2em;
}

h2 a {
  border:0;
  color:#222;
}

h3 {
  font-size:1em;
  font-weight:bold;
}

h4 {
  color:#999;
  font-weight:bold;
  margin-bottom:.2em;
}

body > header,body > section,body > footer {
  margin:0 auto;
  max-width:640px;
}

body > header {
  color:#a5a5a5;
  margin:3em auto;
  -webkit-transition-property:margin;
  -moz-transition-property:margin;
  -ms-transition-property:margin;
  -o-transition-property:margin;
  transition-property:margin;
  -webkit-transition-duration:0.2s;
  -moz-transition-duration:0.2s;
  -ms-transition-duration:0.2s;
  -o-transition-duration:0.2s;
  transition-duration:0.2s
}

body > header p {
  margin:0;
}

body > header p a {
  color:#73acd6;
}

body > footer {
  color:#aaa;
  font-size:.8em;
  margin:3em auto;
  max-width:640px;
  text-align:center;
  text-shadow:#FFF 0 1px 0;
}

body > footer a {
  color:#aaa;
}

table.avabilitiy {
  margin-bottom:2em;
}

table.avabilitiy td {
  font-weight:300;
}

table.avabilitiy td:first-child {
  width:150px;
}

blockquote a,small a {
  color:#444;
}

blockquote a:hover,body > header p a:hover,body > footer a:hover {
  color:#0881b3;
}

span.gray,table.avabilitiy tr.booked {
  color:#777;
}

@media all and (min-width: 640px) {
  body > header {
    margin:5em auto 4em;
  }
}

.light {
  color: #999;
}
